@model  TestWebApl.BLL.Services.CartServices
@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="navbar-right">
    @Html.ActionLink("Заказать", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>Ваша корзина:</b>
    @Model.Lines.Sum(x => x.count) игр,
    @Model.ComputeTotalValue().ToString("# руб")
</div>
